# 构建目录
build.home = ${basedir}/build

# 发布文件目录
dist.home = ${basedir}/dist

# 应用程序名称
app.name = HomeWorld

# 应用程序上下文，用于Tomcat管理
app.path = /${app.name}

# 软件版本号
app.version = 1.0-dev

# 编译optimize设置
compile.optimize = true

# 编译debug设置
compile.debug = true

# 编译deprecation设置
compile.deprecation = false

# JAVA DOC文档标题
doc.doctitle = HomeWorld Web API

# JAVA DOC文档包
doc.packagenames = com.idn.util,\
                   com.idn.filters,\
                   com.idn.user,\
                   com.idn.zip,\
                   com.idn.log,\
                   com.idn.sql,\
                   com.idn.property,\
                   com.idn.secure,\
                   com.idn.menu

# JAVA DOC文档目录
docs.home = ${basedir}/docs

# 存放JSP文件的目录
web.home = ${basedir}/web

# 存放JAVA源文件目录
src.home = ${basedir}/src

# 资源文件存放目录，相对于JAVA源文件的根目录
resource.dir = resources

# 资源文件名称
resource.src.file = zh.properties

# 中文资源文件名称
resource.zh.file = ApplicationResources_zh_CN.properties

# 数据库支持目录
jdbclib = JdbcLib

# Tomcat目录
catalina.home = D:/developer/tomcat

# Tomcat管理URL
manager.url = http://localhost:8080/manager

# Tomcat管理员
manager.username = admin

# Tomcat管理员口令
manager.password = 12345

# FTP服务器
ftp.host = 192.192.192.250

# FTP服务器端口
ftp.port = 21

# FTP用户名
ftp.user = jiali

# FTP口令
ftp.password = jiali

# FTP上载目录
ftp.remote.dir = /QIBM/UserData/WebAS5/Base/default/installedApps/s65c316a/HomeWorld.ear/HomeWorld.war
