<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<display-name>Smirt18</display-name>
	<!-- Standard Action Servlet Configuration -->
	<filter>
		<filter-name>SetCharacterEncodingFilter</filter-name>
		<display-name>SetCharacterEncodingFilter</display-name>
		<filter-class>
			framework.filters.SetCharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>ignore</param-name>
			<param-value>false</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>SetCharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>/WEB-INF/struts-config.xml</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>0</param-value>
		</init-param>
		<init-param>
			<param-name>detail</param-name>
			<param-value>0</param-value>
		</init-param>
		<init-param>
			<param-name>validate</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>definitions-config</param-name>
			<param-value>/WEB-INF/tiles-defs.xml</param-value>
		</init-param>
		<init-param>
			<param-name>definitions-debug</param-name>
			<param-value>0</param-value>
		</init-param>
		<init-param>
			<param-name>definitions-parser-details</param-name>
			<param-value>0</param-value>
		</init-param>
		<init-param>
			<param-name>definitions-parser-validate</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>logoff</servlet-name>
		<jsp-file>/login/logoff.jsp</jsp-file>
	</servlet>
	<!-- Standard Action Servlet Mapping -->
	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>logoff</servlet-name>
		<url-pattern>/logoff</url-pattern>
	</servlet-mapping>
	<!-- The Usual Welcome File List -->
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<!-- error page forward -->
	<error-page>
		<error-code>404</error-code>
		<location>/common/errors/error_404.jsp</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/common/errors/error_403.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/common/errors/error_500.jsp</location>
	</error-page>
	<!-- Struts Tag Library Descriptors -->
	<taglib>
		<taglib-uri>/taglibs/struts-bean</taglib-uri>
		<taglib-location>/WEB-INF/taglibs/struts-bean.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/taglibs/struts-html</taglib-uri>
		<taglib-location>/WEB-INF/taglibs/struts-html.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/taglibs/struts-logic</taglib-uri>
		<taglib-location>/WEB-INF/taglibs/struts-logic.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/taglibs/struts-nested</taglib-uri>
		<taglib-location>/WEB-INF/taglibs/struts-nested.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/taglibs/struts-tiles</taglib-uri>
		<taglib-location>/WEB-INF/taglibs/struts-tiles.tld</taglib-location>
	</taglib>
	<!-- Apache common taglibs -->
	<taglib>
		<taglib-uri>/taglibs/c</taglib-uri>
		<taglib-location>/WEB-INF/taglibs/c.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/taglibs/c-rt</taglib-uri>
		<taglib-location>/WEB-INF/taglibs/c-rt.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/taglibs/fmt</taglib-uri>
		<taglib-location>/WEB-INF/taglibs/fmt.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/taglibs/fmt-rt</taglib-uri>
		<taglib-location>/WEB-INF/taglibs/fmt-rt.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/taglibs/x</taglib-uri>
		<taglib-location>/WEB-INF/taglibs/x.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/taglibs/x-rt</taglib-uri>
		<taglib-location>/WEB-INF/taglibs/x-rt.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/taglibs/sql</taglib-uri>
		<taglib-location>/WEB-INF/taglibs/sql.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/taglibs/sql-rt</taglib-uri>
		<taglib-location>/WEB-INF/taglibs/sql-rt.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/taglibs/c</taglib-uri>
		<taglib-location>/WEB-INF/taglibs/c.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/taglibs/taglibs-log</taglib-uri>
		<taglib-location>/WEB-INF/taglibs/taglibs-log.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/taglibs/taglibs-request</taglib-uri>
		<taglib-location>/WEB-INF/taglibs/taglibs-request.tld</taglib-location>
	</taglib>
	
	<resource-ref>
		<description>Smirt18 DB Connection</description>
		<res-ref-name>jdbc/smirt</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>CONTAINER</res-auth>
	</resource-ref>
	
	<security-constraint>
		<display-name>smirt18 security setting</display-name>
		<web-resource-collection>
			<web-resource-name>all protected</web-resource-name>
			<description>All action</description>
			<url-pattern>*.do</url-pattern>
			<url-pattern>*.jsp</url-pattern>
			<http-method>POST</http-method>
			<http-method>GET</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>smirtuser</role-name>
			<role-name>manager</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<display-name>smirt18 security setting</display-name>
		<web-resource-collection>
			<web-resource-name>all protected</web-resource-name>
			<description>All action</description>
			<url-pattern>/adminUser.do</url-pattern>
			<url-pattern>/executeSql.do</url-pattern>
			<http-method>POST</http-method>
			<http-method>GET</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>manager</role-name>
		</auth-constraint>
	</security-constraint>
	<login-config>
		<auth-method>FORM</auth-method>
		<realm-name>Smirt18 Server</realm-name>
		<form-login-config>
			<form-login-page>
				/login/login.html
			</form-login-page>
			<form-error-page>
				/login/error.html
			</form-error-page>
		</form-login-config>
	</login-config>
	<security-role>
		<role-name>smirtuser</role-name>
	</security-role>
	<security-role>
		<role-name>manager</role-name>
	</security-role>
</web-app>