BODY {
	FONT-SIZE: 9pt; CURSOR: default; FONT-FAMILY: Tahoma
}
TEXTAREA {
	BORDER-RIGHT: #cccccc 1px groove; BORDER-TOP: #cccccc 1px groove; FONT-SIZE: 9pt; BORDER-LEFT: #cccccc 1px groove; COLOR: #000000; BORDER-BOTTOM: #cccccc 1px groove; FONT-FAMILY: Tahoma; BACKGROUND-COLOR: #ffffff
}
TEXTAREA.code {
	BORDER-RIGHT: #cccccc 1px groove; BORDER-TOP: #cccccc 1px groove; FONT-SIZE: 9pt; BORDER-LEFT: #cccccc 1px groove; COLOR: #000000; BORDER-BOTTOM: #cccccc 1px groove; FONT-FAMILY: Courier New, Tahoma; BACKGROUND-COLOR: #ffffff
}
TEXTAREA {
	OVERFLOW: auto
}
OPTION {
	FONT-SIZE: 9pt; COLOR: #51485f; BACKGROUND-COLOR: #f3f3f3
}
FORM {
	FONT-WEIGHT: normal; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: Tahoma
}
.thtcolor {
	COLOR: #000000
}
A:active {
	FONT-SIZE: 9pt; COLOR: #000000
}
A:visited {
	FONT-SIZE: 9pt; COLOR: #000000; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ff4400; TEXT-DECORATION: none
}
A:link {
	COLOR: #000000; TEXT-DECORATION: none
}
.nav {
	COLOR: #000000; TEXT-DECORATION: underline
}
.nav:link {
	COLOR: #000000; TEXT-DECORATION: none
}
.nav:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
.nav:active {
	COLOR: #000000; TEXT-DECORATION: none
}
.nav:hover {
	COLOR: #000000; TEXT-DECORATION: none
}
.topic {
	TEXT-DECORATION: none
}
.topic:link {
	COLOR: #000000; TEXT-DECORATION: none
}
.topic:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
.topic:active {
	COLOR: #000000; TEXT-DECORATION: none
}
.topic:hover {
	COLOR: #ff4400; TEXT-DECORATION: none
}
.ilink {
	COLOR: #000000; TEXT-DECORATION: none
}
.ilink:link {
	COLOR: #000000; TEXT-DECORATION: none
}
.ilink:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
.ilink:active {
	COLOR: #000000; TEXT-DECORATION: none
}
.ilink:hover {
	COLOR: #ff4400; TEXT-DECORATION: none
}
.mod {
	COLOR: #000000; TEXT-DECORATION: none
}
.mod:link {
	COLOR: #000000; TEXT-DECORATION: none
}
.mod:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
.mod:active {
	COLOR: #000000; TEXT-DECORATION: none
}
.mod:hover {
	COLOR: #ff4400; TEXT-DECORATION: none
}
#thd1 {
	COLOR: #000000; TEXT-DECORATION: none
}
.thd {
	COLOR: #000000; TEXT-DECORATION: none
}
.thd:link {
	COLOR: #000000; TEXT-DECORATION: none
}
.thd:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
.thd:active {
	COLOR: #000000; TEXT-DECORATION: none
}
.thd:hover {
	COLOR: #ff4400; TEXT-DECORATION: none
}
.curpage {
	COLOR: #ffffff; FONT-FAMILY: Tahoma; TEXT-DECORATION: none
}
.page {
	COLOR: #ff4400; FONT-FAMILY: Tahoma; TEXT-DECORATION: none
}
.page:link {
	COLOR: #003063; FONT-FAMILY: Tahoma; TEXT-DECORATION: none
}
.page:visited {
	COLOR: #003063; FONT-FAMILY: Tahoma; TEXT-DECORATION: none
}
.page:active {
	COLOR: #ff0000; FONT-FAMILY: Tahoma; TEXT-DECORATION: none
}
.page:hover {
	COLOR: #ff0000; FONT-FAMILY: Tahoma; TEXT-DECORATION: none
}
.subject {
	
}
.text {
	COLOR: #000000
}
.codeStyle {
	PADDING-RIGHT: 0.5em; MARGIN-TOP: 1em; PADDING-LEFT: 0.5em; MARGIN-BOTTOM: 1em; PADDING-BOTTOM: 0.5em; MARGIN-LEFT: 0pt; COLOR: #ffffff; PADDING-TOP: 0.5em; FONT-FAMILY: Tahoma; BACKGROUND-COLOR: #000000
}
.smalltext {
	COLOR: #000000
}
.verysmalltext {
	FONT-SIZE: 4px; COLOR: #000000
}
.member {
	COLOR: #003063; FONT-FAMILY: Tahoma
}
.btnStyle {
	
}
.selStyle {
	BACKGROUND-COLOR: #ffffff
}
.inpStyle {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; BORDER-LEFT: black 1px solid; COLOR: #000000; BORDER-BOTTOM: black 1px solid; BACKGROUND-COLOR: #ffffff
}
TABLE {
	FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: Tahoma,Verdana, Arial
}
TR {
	FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: Tahoma,Verdana, Arial
}
TD {
	FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: Tahoma,Verdana, Arial
}
A:hover {
	COLOR: #465584
}
#mainbg {
	BACKGROUND-COLOR: #ffffff
}
#mainfoot {
	BACKGROUND-COLOR: #bcd0ed
}
#alt1 {
	BACKGROUND-COLOR: #eef2f7
}
#forum1 {
	BACKGROUND-COLOR: #dfe6ef
}
#forum2 {
	BACKGROUND-COLOR: #e4eaf2
}
#post1 {
	BACKGROUND-COLOR: #f5f9fd
}
#post2 {
	BACKGROUND-COLOR: #f5f9fd
}
#posthead {
	BACKGROUND-COLOR: #e4eaf2
}
#postfoot {
	BACKGROUND-COLOR: #d1dceb
}
#postbak {
	BACKGROUND-COLOR: #d2d2d0
}
#title {
	BACKGROUND-COLOR: #c4dcf7
}
#row1 {
	BACKGROUND-COLOR: #eef2f7
}
#row2 {
	BACKGROUND-COLOR: #f5f9fd
}
#postsep {
	HEIGHT: 1px; BACKGROUND-COLOR: #c7d2e0
}
#catrow {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #4c77b6; LINE-HEIGHT: 150%; BACKGROUND-COLOR: #c2cfdf
}
#catrow A:link {
	COLOR: #4c77b6; TEXT-DECORATION: none
}
#catrow A:visited {
	COLOR: #4c77b6; TEXT-DECORATION: none
}
#catrow A:active {
	COLOR: #4c77b6; TEXT-DECORATION: none
}
#category {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #4c77b6; LINE-HEIGHT: 150%; BACKGROUND-COLOR: #c2cfdf
}
#category A:link {
	COLOR: #4c77b6; TEXT-DECORATION: none
}
#category A:visited {
	COLOR: #4c77b6; TEXT-DECORATION: none
}
#category A:active {
	COLOR: #4c77b6; TEXT-DECORATION: none
}
#subtitle {
	FONT-WEIGHT: bold; COLOR: #3a4f6c; HEIGHT: 24px; BACKGROUND-COLOR: #d1dceb
}
#titlefoot {
	FONT-WEIGHT: bold; COLOR: #3a4f6c; HEIGHT: 24px; BACKGROUND-COLOR: #bcd0ed
}
#titlemedium {
	FONT-WEIGHT: bold; COLOR: #3a4f6c; HEIGHT: 24px; BACKGROUND-COLOR: #9fbce3
}
#titlemedium A:link {
	COLOR: #3a4f6c; TEXT-DECORATION: underline
}
#subtitle A:link {
	COLOR: #3a4f6c; TEXT-DECORATION: underline
}
#titlefoot A:link {
	COLOR: #3a4f6c; TEXT-DECORATION: underline
}
#titlemedium A:visited {
	COLOR: #3a4f6c; TEXT-DECORATION: underline
}
#subtitle A:visited {
	COLOR: #3a4f6c; TEXT-DECORATION: underline
}
#titlefoot A:visited {
	COLOR: #3a4f6c; TEXT-DECORATION: underline
}
#titlemedium A:active {
	COLOR: #3a4f6c; TEXT-DECORATION: underline
}
#subtitle A:active {
	COLOR: #3a4f6c; TEXT-DECORATION: underline
}
#titlefoot A:active {
	COLOR: #3a4f6c; TEXT-DECORATION: underline
}
#titlemedium A:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
#subtitle A:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
#titlefoot A:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
#maintitleback {
	HEIGHT: 26px
}
#maintitle {
	FONT-SIZE: 9pt; COLOR: #ffffff
}
#edit {
	FONT-SIZE: 12px
}
#fancyborder {
	BORDER-RIGHT: #999999 1px dashed; BORDER-TOP: #999999 1px dashed; BORDER-LEFT: #999999 1px dashed; BORDER-BOTTOM: #999999 1px dashed
}
#solidborder {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; BORDER-LEFT: #999999 1px solid; BORDER-BOTTOM: #999999 1px solid
}
#maintitle A:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
#maintitle A:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
#maintitle A:active {
	COLOR: #ffffff; TEXT-DECORATION: none
}
#maintitle A:hover {
	TEXT-DECORATION: underline
}
#nav {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #000000
}
#pagetitle {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #4c77b6; LINE-HEIGHT: 120%; LETTER-SPACING: -1px
}
#useroptions {
	FONT-WEIGHT: bold; COLOR: #ffffff; HEIGHT: 25px; BACKGROUND-COLOR: #598cc3
}
#useroptions A:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
#useroptions A:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
#useroptions A:active {
	COLOR: #ffffff; TEXT-DECORATION: none
}
#bottomborder {
	BORDER-BOTTOM: #d2d2d0 1px dashed
}
#linkthru {
	COLOR: #000000
}
#linkthru A:link {
	COLOR: #000000; TEXT-DECORATION: underline
}
#linkthru A:active {
	COLOR: #000000; TEXT-DECORATION: underline
}
#linkthru A:visited {
	COLOR: #000000; TEXT-DECORATION: underline
}
#linkthru A:hover {
	COLOR: #465584; TEXT-DECORATION: underline
}
