<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app id="WebApp_Elearning">
	<display-name>Elearning Application</display-name>
	<description>环天宇正 Elearning 系统</description>

	<!-- 解决中文编码问题 -->
	<filter>
		<filter-name>SetCharacterEncodingFilter</filter-name>
		<display-name>SetCharacterEncodingFilter</display-name>
		<filter-class>
			framework.filters.SetCharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>GBK</param-value>
		</init-param>
		<init-param>
			<param-name>ignore</param-name>
			<param-value>false</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>SetCharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- Strust -->
	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>/WEB-INF/struts-config.xml</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>0</param-value>
		</init-param>
		<init-param>
			<param-name>detail</param-name>
			<param-value>0</param-value>
		</init-param>
		<init-param>
			<param-name>validate</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>definitions-config</param-name>
			<param-value>/WEB-INF/tiles-defs.xml</param-value>
		</init-param>
		<init-param>
			<param-name>definitions-debug</param-name>
			<param-value>0</param-value>
		</init-param>
		<init-param>
			<param-name>definitions-parser-details</param-name>
			<param-value>0</param-value>
		</init-param>
		<init-param>
			<param-name>definitions-parser-validate</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

    <!-- Logoff -->
	<servlet>
		<servlet-name>logoff</servlet-name>
		<jsp-file>/application/login/logoff.jsp</jsp-file>
	</servlet>

	<servlet>
		<servlet-name>beanUserLogin</servlet-name>
		<servlet-class>system.beanUserLogin</servlet-class>
		<init-param>
			<param-name>loginPage</param-name>
			<param-value>/login.jsp</param-value>
			<description>登录页面</description>
		</init-param>
		<init-param>
			<param-name>page</param-name>
			<param-value>/index.jsp</param-value>
			<description>主页</description>
		</init-param>
		<init-param>
			<param-name>errPage</param-name>
			<param-value>/error.jsp</param-value>
			<description>错误页面</description>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>newsadd</servlet-name>
		<servlet-class>news.newsadd</servlet-class>
		<init-param>
			<param-name>loginPage</param-name>
			<param-value>/login.jsp</param-value>
			<description>登录页面</description>
		</init-param>
		<init-param>
			<param-name>listPage</param-name>
			<param-value>/news/newslist.jsp</param-value>
			<description>新闻列表</description>
		</init-param>
		<init-param>
			<param-name>addPage</param-name>
			<param-value>/news/newsadd.jsp</param-value>
			<description>添加新闻</description>
		</init-param>
		<init-param>
			<param-name>errPage</param-name>
			<param-value>/error.jsp</param-value>
			<description>错误页面</description>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>systemSetup</servlet-name>
		<servlet-class>system.systemSetup</servlet-class>
		<init-param>
			<param-name>loginPage</param-name>
			<param-value>/login.jsp</param-value>
			<description>登录页面</description>
		</init-param>
		<init-param>
			<param-name>okPage</param-name>
			<param-value>/Ok.jsp</param-value>
			<description>成功页面</description>
		</init-param>
		<init-param>
			<param-name>page</param-name>
			<param-value>/system/inputSetup.jsp</param-value>
			<description>设置输入页面</description>
		</init-param>
		<init-param>
			<param-name>errPage</param-name>
			<param-value>/error.jsp</param-value>
			<description>错误页面</description>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>userList</servlet-name>
		<servlet-class>system.beanUserList</servlet-class>
		<init-param>
			<param-name>loginPage</param-name>
			<param-value>/login.jsp</param-value>
			<description>登录页面</description>
		</init-param>
		<init-param>
			<param-name>page</param-name>
			<param-value>/admin/userList.jsp</param-value>
			<description>用户列表</description>
		</init-param>
		<init-param>
			<param-name>errPage</param-name>
			<param-value>/error.jsp</param-value>
			<description>错误页面</description>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>userDetail</servlet-name>
		<servlet-class>system.beanUserDetail</servlet-class>
		<init-param>
			<param-name>loginPage</param-name>
			<param-value>/login.jsp</param-value>
			<description>登录页面</description>
		</init-param>
		<init-param>
			<param-name>okPage</param-name>
			<param-value>/Ok.jsp</param-value>
			<description>成功页面</description>
		</init-param>
		<init-param>
			<param-name>page</param-name>
			<param-value>/admin/userDetail.jsp</param-value>
			<description>用户明细</description>
		</init-param>
		<init-param>
			<param-name>errPage</param-name>
			<param-value>/error.jsp</param-value>
			<description>错误页面</description>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>userProfiles</servlet-name>
		<servlet-class>system.beanUserProfiles</servlet-class>
		<init-param>
			<param-name>loginPage</param-name>
			<param-value>/login.jsp</param-value>
			<description>登录页面</description>
		</init-param>
		<init-param>
			<param-name>okPage</param-name>
			<param-value>/Ok.jsp</param-value>
			<description>成功页面</description>
		</init-param>
		<init-param>
			<param-name>applyPage</param-name>
			<param-value>/register.jsp</param-value>
			<description>用户注册页面</description>
		</init-param>
		<init-param>
			<param-name>errPage</param-name>
			<param-value>/error.jsp</param-value>
			<description>错误页面</description>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>menuList</servlet-name>
		<servlet-class>system.beanMenuList</servlet-class>
		<init-param>
			<param-name>loginPage</param-name>
			<param-value>/login.jsp</param-value>
			<description>登录页面</description>
		</init-param>
		<init-param>
			<param-name>okPage</param-name>
			<param-value>/Ok.jsp</param-value>
			<description>成功页面</description>
		</init-param>
		<init-param>
			<param-name>page</param-name>
			<param-value>/admin/menuList.jsp</param-value>
			<description>菜单列表</description>
		</init-param>
		<init-param>
			<param-name>detailPage</param-name>
			<param-value>/admin/menuDetail.jsp</param-value>
			<description>菜单明细</description>
		</init-param>
		<init-param>
			<param-name>errPage</param-name>
			<param-value>/error.jsp</param-value>
			<description>错误页面</description>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>menuManager</servlet-name>
		<servlet-class>system.beanMenuManager</servlet-class>
		<init-param>
			<param-name>loginPage</param-name>
			<param-value>/login.jsp</param-value>
			<description>登录页面</description>
		</init-param>
		<init-param>
			<param-name>okPage</param-name>
			<param-value>/Ok.jsp</param-value>
			<description>成功页面</description>
		</init-param>
		<init-param>
			<param-name>page</param-name>
			<param-value>/admin/menuManager.jsp</param-value>
			<description>菜单管理</description>
		</init-param>
		<init-param>
			<param-name>errPage</param-name>
			<param-value>/error.jsp</param-value>
			<description>错误页面</description>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>codeList</servlet-name>
		<servlet-class>system.beanCodeList</servlet-class>
		<init-param>
			<param-name>loginPage</param-name>
			<param-value>/login.jsp</param-value>
			<description>登录页面</description>
		</init-param>
		<init-param>
			<param-name>okPage</param-name>
			<param-value>/Ok.jsp</param-value>
			<description>成功页面</description>
		</init-param>
		<init-param>
			<param-name>page</param-name>
			<param-value>/admin/codeList.jsp</param-value>
			<description>代码列表</description>
		</init-param>
		<init-param>
			<param-name>detailPage</param-name>
			<param-value>/admin/codeDetail.jsp</param-value>
			<description>代码明细</description>
		</init-param>
		<init-param>
			<param-name>errPage</param-name>
			<param-value>/error.jsp</param-value>
			<description>错误页面</description>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>codeManager</servlet-name>
		<servlet-class>system.beanCodeManager</servlet-class>
		<init-param>
			<param-name>loginPage</param-name>
			<param-value>/login.jsp</param-value>
			<description>登录页面</description>
		</init-param>
		<init-param>
			<param-name>okPage</param-name>
			<param-value>/Ok.jsp</param-value>
			<description>成功页面</description>
		</init-param>
		<init-param>
			<param-name>page</param-name>
			<param-value>/admin/codeManager.jsp</param-value>
			<description>代码管理</description>
		</init-param>
		<init-param>
			<param-name>errPage</param-name>
			<param-value>/error.jsp</param-value>
			<description>错误页面</description>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>lessonManager</servlet-name>
		<servlet-class>lessadmin.beanLessonManager</servlet-class>
		<init-param>
			<param-name>page</param-name>
			<param-value>/lessadmin/lessonManager.jsp</param-value>
			<description>显示课程管理</description>
		</init-param>
		<init-param>
			<param-name>loginPage</param-name>
			<param-value>/login.jsp</param-value>
			<description>登录页面</description>
		</init-param>
		<init-param>
			<param-name>okPage</param-name>
			<param-value>/Ok.jsp</param-value>
			<description>成功页面</description>
		</init-param>
		<init-param>
			<param-name>errPage</param-name>
			<param-value>/error.jsp</param-value>
			<description>错误页面</description>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>lessonList</servlet-name>
		<servlet-class>lessadmin.beanLessonList</servlet-class>
		<init-param>
			<param-name>page</param-name>
			<param-value>/lessadmin/lessonTree.jsp</param-value>
			<description>显示课程管理</description>
		</init-param>
		<init-param>
			<param-name>typePage</param-name>
			<param-value>/lessadmin/lessonTypeList.jsp</param-value>
			<description>显示课程分类</description>
		</init-param>
		<init-param>
			<param-name>listPage</param-name>
			<param-value>/lessadmin/lessonList.jsp</param-value>
			<description>显示课程分类明细</description>
		</init-param>
		<init-param>
			<param-name>loginPage</param-name>
			<param-value>/login.jsp</param-value>
			<description>登录页面</description>
		</init-param>
		<init-param>
			<param-name>okPage</param-name>
			<param-value>/Ok.jsp</param-value>
			<description>成功页面</description>
		</init-param>
		<init-param>
			<param-name>errPage</param-name>
			<param-value>/error.jsp</param-value>
			<description>错误页面</description>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>chapterList</servlet-name>
		<servlet-class>lessadmin.beanChapterList</servlet-class>
		<init-param>
			<param-name>chTreePage</param-name>
			<param-value>/lessadmin/chapterTree.jsp</param-value>
			<description>显示章节树</description>
		</init-param>
		<init-param>
			<param-name>lessDetailPage</param-name>
			<param-value>/lessadmin/lessonDetail.jsp</param-value>
			<description>显示课程详细内容</description>
		</init-param>
		<init-param>
			<param-name>lessChPage</param-name>
			<param-value>/lessadmin/lessonChapter.jsp</param-value>
			<description>显示课程章节</description>
		</init-param>
		<init-param>
			<param-name>lessTreePage</param-name>
			<param-value>/lessadmin/lessonTree.jsp</param-value>
			<description>显示课程树</description>
		</init-param>
		<init-param>
			<param-name>loginPage</param-name>
			<param-value>/login.jsp</param-value>
			<description>登录页面</description>
		</init-param>
		<init-param>
			<param-name>okPage</param-name>
			<param-value>/Ok.jsp</param-value>
			<description>成功页面</description>
		</init-param>
		<init-param>
			<param-name>errPage</param-name>
			<param-value>/error.jsp</param-value>
			<description>错误页面</description>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>lessonReqManager</servlet-name>
		<servlet-class>lessadmin.beanLessonManager</servlet-class>
		<init-param>
			<param-name>page</param-name>
			<param-value>/lessadmin/lessonReqManager.jsp</param-value>
			<description>必修课指定管理</description>
		</init-param>
		<init-param>
			<param-name>loginPage</param-name>
			<param-value>/login.jsp</param-value>
			<description>登录页面</description>
		</init-param>
		<init-param>
			<param-name>okPage</param-name>
			<param-value>/Ok.jsp</param-value>
			<description>成功页面</description>
		</init-param>
		<init-param>
			<param-name>errPage</param-name>
			<param-value>/error.jsp</param-value>
			<description>错误页面</description>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>lessonReqList</servlet-name>
		<servlet-class>lessadmin.beanLessonList</servlet-class>
		<init-param>
			<param-name>page</param-name>
			<param-value>/lessadmin/lessonReqTree.jsp</param-value>
			<description>显示指定课程树</description>
		</init-param>
		<init-param>
			<param-name>typePage</param-name>
			<param-value>/lessadmin/lessonReqTypeList.jsp</param-value>
			<description>显示指定课程分类</description>
		</init-param>
		<init-param>
			<param-name>listPage</param-name>
			<param-value>/lessadmin/lessonReqList.jsp</param-value>
			<description>显示指定课程明细</description>
		</init-param>
		<init-param>
			<param-name>groupPage</param-name>
			<param-value>/lessadmin/lessonReqGroup.jsp</param-value>
			<description>显示要指定课程的用户组</description>
		</init-param>
		<init-param>
			<param-name>loginPage</param-name>
			<param-value>/login.jsp</param-value>
			<description>登录页面</description>
		</init-param>
		<init-param>
			<param-name>okPage</param-name>
			<param-value>/Ok.jsp</param-value>
			<description>成功页面</description>
		</init-param>
		<init-param>
			<param-name>errPage</param-name>
			<param-value>/error.jsp</param-value>
			<description>错误页面</description>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>lessonApplyManager</servlet-name>
		<servlet-class>lesson.beanLessonApplyManager</servlet-class>
		<init-param>
			<param-name>page</param-name>
			<param-value>/lesson/lessonApplyManager.jsp</param-value>
			<description>选修课申请管理</description>
		</init-param>
		<init-param>
			<param-name>loginPage</param-name>
			<param-value>/login.jsp</param-value>
			<description>登录页面</description>
		</init-param>
		<init-param>
			<param-name>okPage</param-name>
			<param-value>/Ok.jsp</param-value>
			<description>成功页面</description>
		</init-param>
		<init-param>
			<param-name>errPage</param-name>
			<param-value>/error.jsp</param-value>
			<description>错误页面</description>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>lessonApplyList</servlet-name>
		<servlet-class>lesson.beanLessonApplyList</servlet-class>
		<init-param>
			<param-name>page</param-name>
			<param-value>/lesson/lessonApplyTree.jsp</param-value>
			<description>显示选修课申请课程程树</description>
		</init-param>
		<init-param>
			<param-name>typePage</param-name>
			<param-value>/lesson/lessonApplyTypeList.jsp</param-value>
			<description>显示选修课申请课程分类</description>
		</init-param>
		<init-param>
			<param-name>listPage</param-name>
			<param-value>/lesson/lessonApplyList.jsp</param-value>
			<description>显示选修课申请课程明细</description>
		</init-param>
		<init-param>
			<param-name>loginPage</param-name>
			<param-value>/login.jsp</param-value>
			<description>登录页面</description>
		</init-param>
		<init-param>
			<param-name>okPage</param-name>
			<param-value>/Ok.jsp</param-value>
			<description>成功页面</description>
		</init-param>
		<init-param>
			<param-name>errPage</param-name>
			<param-value>/error.jsp</param-value>
			<description>错误页面</description>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>Messager</servlet-name>
		<servlet-class>onlinecall.BeanMessager</servlet-class>
		<init-param>
			<param-name>listPage</param-name>
			<param-value>/onlinecall/msgList.jsp</param-value>
			<description>短信列表</description>
		</init-param>
		<init-param>
			<param-name>modifyPage</param-name>
			<param-value>/onlinecall/msgModify.jsp</param-value>
			<description>短信查看/修改</description>
		</init-param>
		<init-param>
			<param-name>loginPage</param-name>
			<param-value>/login.jsp</param-value>
			<description>登录页面</description>
		</init-param>
		<init-param>
			<param-name>okPage</param-name>
			<param-value>/Ok.jsp</param-value>
			<description>成功页面</description>
		</init-param>
		<init-param>
			<param-name>errPage</param-name>
			<param-value>/error.jsp</param-value>
			<description>错误页面</description>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>TopicManager</servlet-name>
		<servlet-class>exam.BeanTopicManager</servlet-class>
		<init-param>
			<param-name>page</param-name>
			<param-value>/exam/topicManager.jsp</param-value>
			<description>显示TOPIC管理页面</description>
		</init-param>
		<init-param>
			<param-name>loginPage</param-name>
			<param-value>/login.jsp</param-value>
			<description>登录页面</description>
		</init-param>
		<init-param>
			<param-name>okPage</param-name>
			<param-value>/Ok.jsp</param-value>
			<description>成功页面</description>
		</init-param>
		<init-param>
			<param-name>errPage</param-name>
			<param-value>/error.jsp</param-value>
			<description>错误页面</description>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>TopicList</servlet-name>
		<servlet-class>exam.BeanTopicList</servlet-class>
		<init-param>
			<param-name>treePage</param-name>
			<param-value>/tree/codeTree.jsp</param-value>
			<description>显示TOPIC管理页面</description>
		</init-param>
		<init-param>
			<param-name>typePage</param-name>
			<param-value>/exam/topicTypeList.jsp</param-value>
			<description>显示课程大类</description>
		</init-param>
		<init-param>
			<param-name>listPage</param-name>
			<param-value>/exam/topicList.jsp</param-value>
			<description>显示课程分类</description>
		</init-param>
		<init-param>
			<param-name>loginPage</param-name>
			<param-value>/login.jsp</param-value>
			<description>登录页面</description>
		</init-param>
		<init-param>
			<param-name>okPage</param-name>
			<param-value>/Ok.jsp</param-value>
			<description>成功页面</description>
		</init-param>
		<init-param>
			<param-name>errPage</param-name>
			<param-value>/error.jsp</param-value>
			<description>错误页面</description>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>TopicCreator</servlet-name>
		<servlet-class>exam.BeanTopicCreator</servlet-class>
		<init-param>
			<param-name>questionPage</param-name>
			<param-value>/exam/questionDetail.jsp</param-value>
			<description>显示问题明细大类</description>
		</init-param>
		<init-param>
			<param-name>listPage</param-name>
			<param-value>/exam/questionList.jsp</param-value>
			<description>显示课程的问题列表</description>
		</init-param>
		<init-param>
			<param-name>loginPage</param-name>
			<param-value>/login.jsp</param-value>
			<description>登录页面</description>
		</init-param>
		<init-param>
			<param-name>okPage</param-name>
			<param-value>/Ok.jsp</param-value>
			<description>成功页面</description>
		</init-param>
		<init-param>
			<param-name>errPage</param-name>
			<param-value>/error.jsp</param-value>
			<description>错误页面</description>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>TopicExam</servlet-name>
		<servlet-class>exam.BeanTopicExam</servlet-class>
		<init-param>
			<param-name>examPage</param-name>
			<param-value>/exam/topicExam.jsp</param-value>
			<description>显示考试题目</description>
		</init-param>
		<init-param>
			<param-name>resultPage</param-name>
			<param-value>/exam/testResult.jsp</param-value>
			<description>显示考试结果</description>
		</init-param>
		<init-param>
			<param-name>loginPage</param-name>
			<param-value>/login.jsp</param-value>
			<description>登录页面</description>
		</init-param>
		<init-param>
			<param-name>okPage</param-name>
			<param-value>/Ok.jsp</param-value>
			<description>成功页面</description>
		</init-param>
		<init-param>
			<param-name>errPage</param-name>
			<param-value>/error.jsp</param-value>
			<description>错误页面</description>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>chat</servlet-name>
		<servlet-class>chatroom.BeanChat</servlet-class>
		<init-param>
			<param-name>loginRoom</param-name>
			<param-value>/chatroom/chatroom.jsp</param-value>
			<description>登录聊天室页面</description>
		</init-param>
		<init-param>
			<param-name>logoutPage</param-name>
			<param-value>/chatroom/logoutChatroom.jsp</param-value>
			<description>退出聊天室</description>
		</init-param>
		<init-param>
			<param-name>showPage</param-name>
			<param-value>/chatroom/show.jsp</param-value>
			<description>显示聊天室内容</description>
		</init-param>
		<init-param>
			<param-name>onlieListPage</param-name>
			<param-value>/chatroom/onlineList.jsp</param-value>
			<description>聊天室人员列表</description>
		</init-param>
		<init-param>
			<param-name>loginPage</param-name>
			<param-value>/login.jsp</param-value>
			<description>登录聊天室页面</description>
		</init-param>
		<init-param>
			<param-name>okPage</param-name>
			<param-value>/Ok.jsp</param-value>
			<description>成功页面</description>
		</init-param>
		<init-param>
			<param-name>errPage</param-name>
			<param-value>/error.jsp</param-value>
			<description>错误页面</description>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>calendar</servlet-name>
		<servlet-class>calendar.beanCalendar</servlet-class>
		<init-param>
			<param-name>listPage</param-name>
			<param-value>/calendar/calendarList.jsp</param-value>
			<description>日程列表</description>
		</init-param>
		<init-param>
			<param-name>readPage</param-name>
			<param-value>/calendar/read.jsp</param-value>
			<description>显示日程内容</description>
		</init-param>
		<init-param>
			<param-name>loginPage</param-name>
			<param-value>/login.jsp</param-value>
			<description>登录页面</description>
		</init-param>
		<init-param>
			<param-name>okPage</param-name>
			<param-value>/Ok.jsp</param-value>
			<description>成功页面</description>
		</init-param>
		<init-param>
			<param-name>errPage</param-name>
			<param-value>/error.jsp</param-value>
			<description>错误页面</description>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>Forum</servlet-name>
		<servlet-class>bbs.beanForum</servlet-class>
		<init-param>
			<param-name>listPage</param-name>
			<param-value>/bbs/Postlist.jsp</param-value>
			<description>显示贴子列表</description>
		</init-param>
		<init-param>
			<param-name>postPage</param-name>
			<param-value>/bbs/Post.jsp</param-value>
			<description>发新贴</description>
		</init-param>
		<init-param>
			<param-name>readPage</param-name>
			<param-value>/bbs/Topic.jsp</param-value>
			<description>显示贴子内容</description>
		</init-param>
		<init-param>
			<param-name>CatalogPage</param-name>
			<param-value>/bbs/Catalog.jsp</param-value>
			<description>论坛列表</description>
		</init-param>
		<init-param>
			<param-name>loginPage</param-name>
			<param-value>/login.jsp</param-value>
			<description>登录页面</description>
		</init-param>
		<init-param>
			<param-name>okPage</param-name>
			<param-value>/Ok.jsp</param-value>
			<description>成功页面</description>
		</init-param>
		<init-param>
			<param-name>errPage</param-name>
			<param-value>/error.jsp</param-value>
			<description>错误页面</description>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>Mail</servlet-name>
		<servlet-class>mail.beanMail</servlet-class>
		<init-param>
			<param-name>listPage</param-name>
			<param-value>/mail/webmail/folder/main/mailList.jsp</param-value>
			<description>邮件列表</description>
		</init-param>
		<init-param>
			<param-name>readPage</param-name>
			<param-value>/mail/webmail/folder/read.jsp</param-value>
			<description>邮件察看/修改</description>
		</init-param>
		<init-param>
			<param-name>modifyPage</param-name>
			<param-value>/mail/webmail/folder/main/wrtmail.jsp</param-value>
			<description>邮件新建/修改/转发</description>
		</init-param>
		<init-param>
			<param-name>loginPage</param-name>
			<param-value>/login.jsp</param-value>
			<description>登录页面</description>
		</init-param>
		<init-param>
			<param-name>okPage</param-name>
			<param-value>/Ok.jsp</param-value>
			<description>成功页面</description>
		</init-param>
		<init-param>
			<param-name>errPage</param-name>
			<param-value>/error.jsp</param-value>
			<description>错误页面</description>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>beanUserLogin</servlet-name>
		<url-pattern>/servlet/beanUserLogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>newsadd </servlet-name>
		<url-pattern>/servlet/news/newsadd</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>systemSetup</servlet-name>
		<url-pattern>/servlet/systemSetup</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>userList</servlet-name>
		<url-pattern>/servlet/admin/userList</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>userDetail</servlet-name>
		<url-pattern>/servlet/admin/userDetail</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>userProfiles</servlet-name>
		<url-pattern>/servlet/system/userProfiles</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>menuManager</servlet-name>
		<url-pattern>/servlet/admin/menuManager</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>menuList</servlet-name>
		<url-pattern>/servlet/admin/menuList</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>codeManager</servlet-name>
		<url-pattern>/servlet/admin/codeManager</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>codeList</servlet-name>
		<url-pattern>/servlet/admin/codeList</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>lessonManager</servlet-name>
		<url-pattern>/servlet/lessadmin/lessonManager</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>lessonList</servlet-name>
		<url-pattern>/servlet/lessadmin/lessonList</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>chapterList</servlet-name>
		<url-pattern>/servlet/lessadmin/chapterList</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>lessonReqManager</servlet-name>
		<url-pattern>/servlet/lessadmin/lessonReqManager</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>lessonReqList</servlet-name>
		<url-pattern>/servlet/lessadmin/lessonReqList</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>lessonApplyManager</servlet-name>
		<url-pattern>/servlet/lesson/lessonApplyManager</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>lessonApplyList</servlet-name>
		<url-pattern>/servlet/lesson/lessonApplyList</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Messager</servlet-name>
		<url-pattern>/servlet/onlinecall/Messager</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TopicManager</servlet-name>
		<url-pattern>/servlet/exam/topicManager</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TopicList</servlet-name>
		<url-pattern>/servlet/exam/topicList</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TopicCreator</servlet-name>
		<url-pattern>/servlet/exam/topicCreator</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TopicExam</servlet-name>
		<url-pattern>/servlet/exam/topicExam</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>chat</servlet-name>
		<url-pattern>/servlet/chatroom/chat</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>calendar</servlet-name>
		<url-pattern>/servlet/calendar/Calendar</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Forum</servlet-name>
		<url-pattern>/servlet/bbs/Forum</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Mail</servlet-name>
		<url-pattern>/servlet/mail/Mail</url-pattern>
	</servlet-mapping>

	<!-- Standard Action Servlet Mapping -->
	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>logoff</servlet-name>
		<url-pattern>/logoff</url-pattern>
	</servlet-mapping>


	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<!-- error page forward -->
	<error-page>
		<error-code>404</error-code>
		<location>/application/common/errors/error_404.jsp</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/application/common/errors/error_403.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/application/common/errors/error_500.jsp</location>
	</error-page>

	<!-- Struts Tag Library Descriptors -->
	<taglib>
		<taglib-uri>/taglibs/struts-bean</taglib-uri>
		<taglib-location>/WEB-INF/taglibs/struts-bean.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/taglibs/struts-html</taglib-uri>
		<taglib-location>/WEB-INF/taglibs/struts-html.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/taglibs/struts-logic</taglib-uri>
		<taglib-location>/WEB-INF/taglibs/struts-logic.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/taglibs/struts-nested</taglib-uri>
		<taglib-location>/WEB-INF/taglibs/struts-nested.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/taglibs/struts-tiles</taglib-uri>
		<taglib-location>/WEB-INF/taglibs/struts-tiles.tld</taglib-location>
	</taglib>
	<!-- Apache common taglibs -->
	<taglib>
		<taglib-uri>/taglibs/c</taglib-uri>
		<taglib-location>/WEB-INF/taglibs/c.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/taglibs/c-rt</taglib-uri>
		<taglib-location>/WEB-INF/taglibs/c-rt.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/taglibs/fmt</taglib-uri>
		<taglib-location>/WEB-INF/taglibs/fmt.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/taglibs/fmt-rt</taglib-uri>
		<taglib-location>/WEB-INF/taglibs/fmt-rt.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/taglibs/x</taglib-uri>
		<taglib-location>/WEB-INF/taglibs/x.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/taglibs/x-rt</taglib-uri>
		<taglib-location>/WEB-INF/taglibs/x-rt.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/taglibs/sql</taglib-uri>
		<taglib-location>/WEB-INF/taglibs/sql.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/taglibs/sql-rt</taglib-uri>
		<taglib-location>/WEB-INF/taglibs/sql-rt.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/taglibs/c</taglib-uri>
		<taglib-location>/WEB-INF/taglibs/c.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/taglibs/taglibs-log</taglib-uri>
		<taglib-location>/WEB-INF/taglibs/taglibs-log.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/taglibs/taglibs-request</taglib-uri>
		<taglib-location>/WEB-INF/taglibs/taglibs-request.tld</taglib-location>
	</taglib>

	<resource-ref>
		<description>datasource reference</description>
		<res-ref-name>jdbc/estudy</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>CONTAINER</res-auth>
	</resource-ref>
</web-app>
