a:link {
	font-family: "ו";
	font-size: 9pt;
	color: <%=ust.getLinkcolor()%>;
	text-decoration: none;
}
a:hover {
	font-family: "ו";
	font-size: 9pt;
	color: <%=ust.getOnmousecolor()%>;
	text-decoration: underline;
}
a:visited {
	font-family: "ו";
	font-size: 9pt;
	color: <%=ust.getLinkstyle()%>;
	text-decoration: none;
}
