.xbz {  font-family: "ו"; font-size: 9pt; line-height: 20px; font-weight: 100}
a:hover {  font-family: "ו"; font-size: 9pt; color: #336600}
.da {  font-family: "ו"; font-size: 10.5pt; color: #000000}
