P {
	FONT-SIZE: 9pt; COLOR: #333333; FONT-FAMILY: 宋体
}
INPUT {
	FONT-SIZE: 9pt; COLOR: #333333; FONT-FAMILY: 宋体
}
SELECT {
	FONT-SIZE: 9pt; COLOR: #333333; FONT-FAMILY: 宋体
}
TABLE {
	BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 2px
}
TD {
	BORDER-RIGHT: 1px; BORDER-TOP: 0px; FONT-SIZE: 9pt; COLOR: #333333; FONT-FAMILY: 宋体
}
A {
	TEXT-DECORATION: none
}
A:hover {
	COLOR: #333355; TEXT-DECORATION: underline
}
BODY {
	FONT-SIZE: 9pt; SCROLLBAR-HIGHLIGHT-COLOR: #ffffff; SCROLLBAR-SHADOW-COLOR: #000033; SCROLLBAR-ARROW-COLOR: #ffffff; SCROLLBAR-TRACK-COLOR: #fefeff; FONT-FAMILY: 宋体
        COLOR: #CCAAAA; SCROLLBAR-BASE-COLOR: #fefeff
}
TEXTAREA {
	FONT-SIZE: 9pt; FONT-FAMILY: 宋体
}
.title {
	COLOR: #ffffff
}
.cau {
	COLOR: #333366
}